<div class="text-right mb-3">
    <a href="#"
       class="btn btn-primary" data-action="create-badge-modal">
        <i class="fa fa-plus-circle"></i> {{#str}}createbadge, local_superbadges{{/str}}
    </a>
</div>

<table class="table table-bordered table-hover table-badges">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">{{#str}}name, local_superbadges{{/str}}</th>
        <th scope="col">{{#str}}actions, local_superbadges{{/str}}</th>
    </tr>
    </thead>
    <tbody>
        {{#badges}}
            {{> local_superbadges/badge_tableline }}
        {{/badges}}
    </tbody>
</table>

{{#js}}
    require(['local_superbadges/badge/create', 'local_superbadges/badge/delete'], function(Create, Delete) {
        Create.init('[data-action=create-badge-modal]', {{{courseid}}});

        Delete.init('.delete-badge');
    });
{{/js}}