<div class="text-right mb-3">
    <a href="#"
       class="btn btn-primary" data-action="create-badge-modal">
        <i class="fa fa-plus-circle"></i> {{#str}}createbadge, local_superbadges{{/str}}
    </a>
</div>

<table class="table table-bordered table-hover table-badges">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">{{#str}}name, local_superbadges{{/str}}</th>
        <th scope="col">{{#str}}actions, local_superbadges{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#badges}}
        <tr>
            <th scope="row">{{{id}}}</th>
            <td>{{{name}}}</td>
            <td style="width: 200px; text-align: center;">
                <a href="#" data-id="{{id}}" class="btn btn-info btn-sm deliver-badge" title="{{#str}}deliver, local_superbadges{{/str}}">
                    <i class="fa fa-paper-plane-o"></i>
                </a>
                <a href="{{{config.wwwroot}}}/local/superbadges/requirements.php?id={{id}}" data-id="{{id}}" class="btn btn-primary btn-sm" title="{{#str}}requirements, local_superbadges{{/str}}">
                    <i class="fa fa-list"></i>
                </a>
                <a href="#" data-id="{{id}}" data-name="{{name}}" data-description="{{description}}" data-courseid="{{courseid}}" data-badgeid="{{badgeid}}" data-type="{{type}}" data-highlight="{{highlight}}"  class="btn btn-warning btn-sm edit-badge" title="{{#str}}editbadge, local_superbadges{{/str}}">
                    <i class="fa fa-pencil-square-o text-white"></i>
                </a>
                <a href="#" data-id="{{id}}" class="btn btn-danger btn-sm delete-badge" title="{{#str}}deletebadge, local_superbadges{{/str}}">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    {{/badges}}
    </tbody>
</table>

{{#js}}
    require(['local_superbadges/badge/create', 'local_superbadges/badge/delete'], function(Create, Delete) {
        Create.init('[data-action=create-badge-modal]', {{{contextid}}}, {{{courseid}}});

        Delete.init('.delete-badge');
    });
{{/js}}